<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.crm.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CustomerResultMap" type="com.zzy.crm.entity.Customer">
        <id column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="sex" property="sex" />
        <result column="telphone" property="telphone" />
        <result column="company" property="company" />
        <result column="address" property="address" />
        <result column="emp_id" property="empId" />
        <result column="is_orders" property="isOrders" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
        <collection property="employees" javaType="java.util.List"  resultMap="EmployeeMapper"/>
    </resultMap>

    <resultMap id="EmployeeMapper" type="com.zzy.crm.entity.Employee">
        <id     column="emp_id"    property="empId"/>
        <result column="emp_name"  property="empName"/>
        <result column="pwd"   property="pwd"/>
        <result column="salt"       property="salt"/>
        <result column="age"       property="age"/>
        <result column="sex"       property="sex"/>
        <result column="phone"       property="phone"/>
        <result column="address"       property="address"/>
        <result column="create_time"       property="createTime"/>
        <result column="update_time"       property="updateTime"/>
        <result column="is_del"       property="isDel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select c.customer_id,c.customer_name,c.sex,c.telphone,c.company,c.address,c.is_orders,c.create_time,c.update_time,
        e.emp_name,e.emp_id,e.phone
        from
        customer c
        LEFT JOIN employee e on e.emp_id  = c.emp_id
    </sql>
    <select id="customerList" resultMap="CustomerResultMap" parameterType="String">
        <include refid="Base_Column_List"></include>

        where c.is_del = 0
        <if test="empName!=null and empName!=''"> and e.emp_name = #{empName}</if>
    </select>

</mapper>
